.footer {
    width: 100%;
    background: hsla(0, 10, 94, 1);

    .navigation-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        }

    .logo-container {
        display: flex;
        align-items: center;
    }

        .brand-logo {
        height: 100px;
        display: flex;
        padding: 0 40px;
        line-height: 100px;

        :hover{
        transform: scale(1.3);
        transition: 900ms;
        }
}

    .adress {
        display: inline-block;
        font-family: $poppins;
        font-weight: 400;
        margin-top: 0.1em;

        .adress-corp {
            margin-top: 0.5em;
        }

        .phone {
            margin-top: 0.5em;
        }

        .mail {
            margin-top: 0.5em;
        }
    }

    .copyright {
        background: $secundary-color;
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        .copy {
            color: #FFFFFF;
            font-family: $raleway;

            .c {
                background: #FFFFFF;
                color: #000000;
                border-radius: 50%;
                font-weight: 700;
                font-size: 15px;
                
            }
        }
    }

    .icons-rrss {
    background: hsla(0, 10, 94, 1);
    border-radius: 50%;
    display: flex; 
    margin-right: 20px;

    }


        .list-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;

    }

        .facebook {
           font-size: 30px;
           margin: 5px; 
        }

        .github {
            font-size: 30px;
            margin: 5px;

        }

        .linkedin {
            font-size: 30px;
            margin: 5px;
        
        }

        .google {
            font-size: 30px;
            margin: 5px;
        
        }

        .youtube {
            font-size: 30px;
            margin: 5px;
        
        }

        i {
            color: #000000;
        }
    
}