@import "_configurations";

.header {
    background-color: hsla(0, 10, 94, 1);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0.20px 0.25px 5px hsla(0, 0, 5, 1);
    z-index: 3;

    .brand-logo {
        height: 80px;
        display: flex;
        padding: 0 40px;
        line-height: 80px;

        :hover{
        transform: scale(1.3);
        transition: 900ms;
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
    }

    .item-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 40px;
        font-family: $poppins;
        font-weight: $title-weight;
        text-decoration: none;
        
      
    }

    .link-item {
        margin: 0 10px;
        width: max-content;
        line-height: 80px;
        color: hsla(0, 0, 5, 1);
        cursor: pointer;

        &:hover {
        color: rgba(0, 35, 156, 1);
        }
    }




}


        

      

    
        
     