.slides-container {
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
    z-index: inherit;
}

.slider-container {
    width: 100%;
    display: flex;
    background: #9C9FD9;
}

.content-slider {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    color: #FFFFFF;
}

.content-slider:nth-child(2) {
    background: #656FA6;
    color: #FFFFFF;

}

.content-slider:nth-child(3) {
    background: #611a68;
    color: #FFFFFF
    
}

.content-slider:nth-child(4) {
    background: #023859;
    color: #FFFFFF;

}

.content-slider>img {
    width: 400px;
}

.content-slider>div {
    width: 40%;

}

.content-slider h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;

}

.content-slider a {
    color: #FFFFFF;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;

}

.content-slider:nth-child(2) a {
    background: #FFFFFF;
    color: #332863;

}

.content-slider:nth-child(4) a {
    background: #FFFFFF;
    color: #332863;

}

@media screen and (max-width:900px) {
    .content-slider>img {
        width: 250px;
    }

    .content-slider>div {
        width: 40%;
    }

    .content-slider h2 {
        font-size: 23px;
    }
}


@media screen and (max-width:600px) {
    .content-slider {
        flex-direction: column-reverse;
    }

    .content-slider>div {
        width: 80%;
    }
}